---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Jury from '../components/Jury.astro';
import Sponsors from '../components/Sponsors.astro';
import LuckyButton from '../components/LuckyButton.astro';
---

<Layout title="2025 Vibe Coding Game Jam">
  <main>
    <Hero />
    <LuckyButton />
    <Projects />
    <Jury />
    <Sponsors />
  </main>
</Layout>